mcp==1.28.1
langchain-core==0.3.74
langchain-openai==0.3.30
dotenv==0.9.9
openai==1.99.9
pydantic==2.11.7
huggingface_hub==1.23.0
langchain_huggingface==0.3.1
mcp[cli]
langchain_litellm==0.6.1
litellm==1.80.0
openai